/* reset basé sur Knacss.com */
html {font-size: 62.5%;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display: block;}
html, body, blockquote, ul, ol, form {margin: 0; padding: 0;}
ul, ol {padding-left: 2em}
p, li, td, th, textarea {font-size: 1.3em;}
li li, li p, td p, th p, li h1, li h2, li h3, li h4, li h5, li h6, input {font-size: 100%;}
h1, .h1-like {font-size: 1.8em; }
h2, .h2-like {font-size: 1.6em; }
h3, .h3-like {font-size: 1.4em; }
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, p:first-child {margin-top: 0;}
p:last-child {margin-bottom: 0;}
img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video { max-width: 100%; height: auto;}
textarea, table, td, th, code, pre, samp, div, p {word-wrap: break-word;}
code, pre, samp {white-space: pre-wrap;}
a img {border: 0;}

.titre {
    color: white;
    margin-left: 20px;
    position: absolute;
    bottom: 0px;
    right: 30px;
    margin: 0;
    padding:0;
    font-size: 3.2em;
}
.h1-like {
    position: absolute;
    top: 40px;
    left: 40px;
}
p {
	color: #494424;
}
html {
    background : #ece9d8;
}
body {
    background : white;
    font-family:  Verdana, "Bitstream Vera Sans", "Lucida Grande", sans-serif;
    line-height: 1.2;
    margin: 10px;
    padding: 10px;
    border: 1px solid #dcd7b9;
    border-radius: 10px;
}
#slider-height {
    position: fixed;
    top: 60px;
    left : 20px;
}
#slider-width {
    position: fixed;
    left: 55px;
    top: 20px;
}
    #slider-width.menu_actif {
        top: 50px;
    }
#header_open {
    position: fixed;
    z-index: 1000001;
    top: 0;
    left: 0;
    display: block;
    width: 30px;
    height: 30px;
    padding: 5px;
    background: rgba(73, 68, 36, 0.8);
    border-radius: 0 0 10px 0;
}
header#page {
    position: fixed;
    display: none;
    background: rgba(73, 68, 36, 0.8);
    z-index: 1000000;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
}
    #page.menu_actif {
        display: block;
    }
	#page nav {
		position: absolute;
		bottom: 0px;
		left: 90px;
		width: 700px;
	}
		#page nav ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			display: block;
		}
			#page nav li {
				display: inline-block;
				position: relative;
				margin-left: 1em;
				height: 40px;
			}
				.onglet {
				    position: relative;
				    height: 20px;
					background: rgba(73, 68, 36, 0.9);
					color: white;
					display: block;
					padding: 10px 20px;
					text-decoration: none;
				}

				li:hover .onglet, li.onglet_actif .onglet  {
					background: #e1dcc2;
					color: #494424;
				}
				nav form {
					position: absolute;
					top: 40px;
					left: 0;
					background: #e1dcc2;
					border: 1px solid #c3ba87;
					border-top: 0 none;
					border-radius: 0 0 10px 10px;
					padding: 10px;
					display: none;
				}
                li.onglet_actif form {
                    display: block;
                }
#visualisation_content.draggable {
    overflow: hidden;
}

